{{#partial "metadata"}}{{/partial}}
{{#partial "content"}}{{/partial}}

<p>Name:</p>
<p>{{ hero.heroName }}</p>
<h5>Age:</h5>
<p> {{ hero.heroAge }}</p>
<h5>SuperPower:</h5>
<p> {{ hero.heroPower }}</p>
<h5>Weakness:</h5>
<p> {{ hero.heroWeakness }}</p>

<h5>Danger Zone:</h5>
<p>
    <a class="text-danger" href="/heros/{{hero.id}}/delete">DELETE this task (no undo)</a>
</p>

{{#partial "footer"}}{{/partial}}

{{> "layout.hbs"}}