{{#partial "metadata"}}{{/partial}}
{{#partial "content"}}{{/partial}}

<div class="container mx-auto" style="max-width: 200px;">
    <h1>{{squad.squadName}}</h1>
    <p>Heros in the {{squad.squadName}} squad</p>

    <ul>
        {{#each heros}}
            <li>
                <p><a href="/squads/{{squadId}}/heros/{{id}}">{{heroName}}</a> </p>
            </li>
        {{/each}}
    </ul>

    <a class="btn btn-danger" href="/squads/{{squad.id}}/delete">Delete {{squad.squadName}} </a>
</div>

{{#partial "footer"}}{{/partial}}
{{> "layout.hbs"}}